*
!.gitignore

!.vscode/
!.vscode/extensions.json

!docs/
!docs/**/
!docs/**/*

!public/
!public/**/
!public/**/*

!src/
!src/**/
!src/**/*

!.editorconfig
!.prettierignore
!.stylelintrc.mjs
!eslint.config.js
!generate-react-cli.json
!prettier.config.mjs
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!README.md

!index.html

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
